/* $Id$ */
.form_item_selects{
  border: 1px solid #ccc;
  margin: 5px 0;
}

.field_form_selects_view{
  padding: 5px;
}

.field_form_selects_view span{
  margin: 5px;
}

/*fields view*/
.fields-node-view {
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.fields-node-view-name {
  padding-right: 10px;
}

.fields-node-view-list-textarea .fields-node-view-content,
.fields-node-view-list-file_image .fields-node-view-content {
  display: block;
}

.fields-node-view-list-file .fields-node-view-content img {
  padding: 2px;
  border: 1px solid #ccc;
}

.fields-node-view-list-file .fields-node-view-content a:hover img {
  border: 1px solid #09c;
}

.fields-node-view a {
  padding-right: 8px;
}


